body {
  padding: 10px;
  background: #efefefbd;
  font: 400 1rem/2 Inter;
}
/*
p: 400 1rem/2 Inter;
max size: --max-width: 1440px;
code: 400 0.875rem/1.5 Inter;
roundign corners: --elem-radius: 0.25rem;
--font-fallback: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
*/

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.var.woff2")
      format("woff2 supports variations"),
    url("/fonts/Inter.var.woff2") format("woff2-variations");
  font-weight: 1 999;
  font-stretch: 75% 100%;
  font-style: oblique 0deg 20deg;
  font-display: swap;
}


.task-form {
  margin-top: 1rem;

}

.background-no {
  background: orangered;
}

.menu {
  margin-bottom: 20px;
}

.menu div {
  padding: 3px;
}

#home {
  display: flex;
}
#home div {
  align-self: center;
  padding-right: 4px;
}

a {
  color: darkmagenta;
  text-decoration: none;
}
.menu a {
  color: #a30077;
  text-transform: uppercase;
  text-decoration: overline;
  border: 62px dotted #670093;
  border-top-color: darkmagenta;
  padding-right: 14px;
  margin-right: -11px;
  top: 4px;
  z-index: 2;
  border-top-style: none;
  border-left: thick;
  border-right: thick;
  border-bottom: thick;
  position: relative;
  text-decoration-color: #a30077;
  font: 600 1rem/2 Inter;
}

 a:hover {
  color: #1316d9;
  padding-right: 18px;
  font-weight: bold;
}

a:active {
  font-weight: bold;
  text-decoration-thickness: 4px;
}

.menu a:focus {
  text-decoration-thickness: 4px;
  font-weight: bold;
  color: #a30077;
}


h1 {
  margin: 0px;
  padding: 0px 40px;
  text-align: right;


  font: 500 1.444rem Inter;
  line-height: 5rem;
}

#main-container {
  max-width: 1440px;
  margin: 0 auto;
}