.rainfall, #rainfall {
    padding: 30px;
    width: fit-content;
    margin: 0 auto;
}

.rain-img {
    padding: 10px 6px 6px 0px;
}

.rain-pickers input {
    margin: 5px 5px 5px 0px;
    height: 37px;
}

.rain-pickers {
    display: flex;
}

.rain-button {
    display: table;
  }

.rain-input {
    margin: 10px 0px;
}
.rain-tooltip {
    background: #e5e5e585;
    width: fit-content;
    position: absolute;
    padding: 10px;
}

.drop-parent:hover {
    font-weight: bold;
  }
  
.noborder {
    border: none;
}

#rain-library {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}

#rain-controls {
    transition: .3s ease;
    position: fixed;
    top: 132px;
    z-index: 1;
    background: #b0b0b036;
    padding: 13px;
    border-radius: 6px;
    margin: 18px;
  }

  div#main-container-form {
    background: #f1f1f1;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

div#mail-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: 50px;
}

#main-container-form textarea {
    min-width: 46vw;
    min-height: 40vh;
    max-width: 100%;
    font-family: arial;
    padding: 7px;
}

input[type="email"] {
    font-family: Arial;
    padding: 7px;
    margin: 10px 0px 10px 0px;
}

div#mail-accuse {
    padding: 7px 0px 7px 0px;
}

button#mail-button {
    padding: 7px;
}

@media screen and (orientation:portrait) {
    input[type="email"] {
    width: 100%;
    }
    #main-container-form textarea {
        width: 100%;
    }
    #mail-form {
        display:block!important;
    }


}


