.rainfall, #rainfall {
    padding: 30px;
    width: fit-content;
    margin: 0 auto;

}

.rain-img {
    padding: 10px 6px 6px 0px;
}

.rain-pickers input {
    margin: 5px 5px 5px 0px;
    height: 37px;
}

.rain-pickers {
    display: flex;
}

.rain-button {
    display: table;
  }

.rain-input {
    margin: 10px 0px;
}
.rain-tooltip {
    background: #e5e5e585;
    width: fit-content;
    position: absolute;
    padding: 10px;
}

.noborder {
    border: none;
}

#rain-library {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}

#rain-controls {
    transition: .3s ease;
    position: fixed;
    top: 70px;
    z-index: 1;
    background: #b0b0b036;
    padding: 13px;
    border-radius: 6px;
    margin: 18px;
  }

div#mail-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
}

#mail-form textarea {
    min-width: 20vw;
    min-height: 40vh;
}
