.rainfall, #rainfall {
    padding: 30px;
    background: #7fffd4;
    width: fit-content;
}

.rain-img {
    padding: 10px 6px 6px 0px;
}

.rain-pickers input {
    margin: 5px 5px 5px 0px;
    height: 37px;
}

.rain-pickers {
    display: flex;
}

.rain-input {
    margin: 10px 0px;
}
.rain-tooltip {
    background: #e5e5e585;
    width: fit-content;
    position: absolute;
    padding: 10px;

}

#rain-library {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}

#rain-library div {

}


.tiktok-comment {
    padding: 15px 30px;
    width: 1024px;
    height: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9vh;
    cursor: help;
}

div#mail-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
}

#mail-form textarea {
    min-width: 20vw;
    min-height: 40vh;
}
