
.container-for-div-with-tooltip {
    position: relative;
    /* width: fit-content; */
    margin: 2em auto;
    width: 100%;
    background: #e8e8e8;
    overflow: overlay;
  }

  
  .container-div img {
  }
  
  .container-tooltip {
    position: absolute;
    top: 0;
    right:0;
    min-height: 50px;
    min-width: 50px;
    opacity: 0;
    transition: .2s ease;
    background-color: #00000047!important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60% !important;
    margin: 5px!important;
    border-radius: 4px;
    width: 50px !important;
    height: 50px !important;
    
  }
  
  .container-for-div-with-tooltip:hover .container-tooltip {
    opacity: 1;
    
  }

  .container-for-div-with-tooltip:hover ~ #rain-controls {
    opacity: 0.25;
    transition: .4s ease;
}
  
  .tooltip-label {
    color: white;
    position: absolute;
  }

  .tiktok-comment img {
    width: 50%;
    height: 50%;
    padding: 10px;
  }
  .tiktok-comment {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
}
  
.container-div {
  background: #e8e8e8;
  margin: 0 auto;
  padding: 23px 0px;
  min-height: 183px;
  min-width: fit-content;
  width: 100%;
}
  

#tiktok-comment-container {
  background: #e8e8e8;
  width: 1024px;
  height: 512px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  padding: 0.5em 1.5em;
  margin: 0 auto;  
}

.twitter-usernames {
  color: rgb(29, 155, 240);
  font-size: 0.4em;
}

.twitter-source {
  font-size: 0.4em;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #adadad;
}

@media (max-width: 1024px) {
  #tiktok-comment-container {
      width: 90%;
      height: 100%;
      max-width: fit-content;
  }
}

@media (max-height: 512px) {
  #tiktok-comment-container {
      height: 100%;

  }
}
