
.container-for-div-with-tooltip {
    position: relative;
    width: fit-content;
    margin: 2em auto;
  }
  
  .container-div {
  min-width: fit-content;
  }
  
  .container-div img {
  }
  
  .container-tooltip {
    position: absolute;
    top: 0;
    right:0;
    min-height: 50px;
    min-width: 50px;
    opacity: 0;
    transition: .2s ease;
    background-color: #00000047!important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60% !important;
    margin: 5px;
    border-radius: 4px;
    width: 50px !important;
    height: 50px !important;
  }
  
  .container-for-div-with-tooltip:hover .container-tooltip {
    opacity: 1;
  }
  
  .tooltip-label {
    color: white;
    position: absolute;
  }
  