#main-container-footer {
  padding: 2rem 20px;
}

div#main-container-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-social {
  display: flex;
  flex-direction: column;
}


footer .footer-link-container a:hover:after {
  width: 100%;
  max-width: 100%;
}

footer .footer-link-container a:after {

  bottom: -2px;
  height: 4px;
  width: 0%;
  content: "";
  display: block;
  background: blue;
  transition: ease all 0.3s;

}

.footer-link-container {
  width: fit-content;
}