header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.menu {
    margin-bottom: 20px;
    width: fit-content;
  }
  
  .menu div {
    padding: 3px;
  }
  
  .menu a {
    color: #a30077;
    text-transform: uppercase;
    text-decoration: overline;
    border: 62px dotted #670093;
    border-top-color: darkmagenta;
    padding-right: 14px;
    margin-right: -11px;
    top: 4px;
    z-index: 2;
    border-top-style: none;
    border-left: thick;
    border-right: thick;
    border-bottom: thick;
    position: relative;
    text-decoration-color: #a30077;
    font: 600 1rem/2 Inter;
  }
  
  .menu a:focus {
    text-decoration-thickness: 4px;
    font-weight: bold;
    color: #a30077;
  }


  .login-container {
opacity: 0;
width: 50%;
transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.3s; 
  }

.show-menu {
opacity: 1;
transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.3s; 
}

.login {
  padding: 0px;
}

.logo {
  text-align: right;
  margin: 5px;
  width: fit-content;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transparent-bg {
  background: rgba(0,0,0,0)!important;
}
.popup-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #afa2c3;
  height: fit-content;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;
  width: 120px;
  border-radius: 110px;
  padding: 30px;
}

.popup-menu-container input {
  background: #9687ad61;
  border: 0;
  color: white;
  padding: 10px;
  margin-bottom: 6px;
  width: 100%;
  border-radius: 40px;
}

.popup-menu-container button {
  padding: 3px;
  background: #9083a5;
  color: white;
  border-radius: 50px;
  border: solid 5px #9083a5;
  margin: 8px 0px;
}