  .event-remain {
    text-align: center;
    padding: 45px;
    font-weight: 500;
}

.event {
    width: 100%;
    filter: contrast(1.5);
}
.event-name {
    font-size: 25px;
    width: fit-content;
}
.event-container {
    margin: 0px 0px 18px 0px;
    background: #f7f7f7;
    box-shadow: 0 4px 8px rgb(118 118 120 / 16%);
    padding: 10px;
}

.event-wrapper {
    padding: 10px;
}

div [contenteditable="true"]:focus {
    outline: none;
    transition: ease-in-out 0.1s;
    width: fit-content;
    box-shadow: 0 4px 8px rgb(118 118 120 / 10%);
    padding: 0px 4px 0px 4px;
  }

  div [contenteditable="true"]:hover {
  background: #ffffff;
  width: fit-content;
  transition: ease-in-out 0.1s;
  }

  button.event-meta {

    background: #9687ad;
    border: 0;
    color: white;
    padding: 10px;
    width: 10%;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 0;
    transition: ease-in-out 0.1s;
  }
.event-create {
    text-align-last: center;
    padding: 20px;
}