  .event-remain {
    text-align: center;
    padding: 45px;
    font-weight: 500;
}

.event {
    width: 100%;
    filter: contrast(1.5);
}
.event-name {
    font-size: 25px;
    width: fit-content;
}
.event-container {
    margin: 0px 0px 18px 0px;
    background: #f7f7f7;
    box-shadow: 0 4px 8px rgb(118 118 120 / 16%);
    padding: 10px;
}


.event-wrapper {
    padding: 6px;
}

div [contenteditable="true"]:focus {
    outline: none;
    transition: ease-in-out 0.1s;
    width: fit-content;
    box-shadow: 0 4px 8px rgb(118 118 120 / 10%);
    padding: 0px 4px 0px 4px;
  }

  div [contenteditable="true"]:hover {
  background: #ffffff;
  width: fit-content;
  transition: ease-in-out 0.1s;
  }

.event-create {
    text-align-last: center;
    padding: 20px;
}

div#remind-selectors {
    display: flex;
    align-items: center;
}

.remind-selector {
    width: fit-content;
    margin: 0px 20px 5px 0px;
    font-weight: 500;
}
.remind-selector:hover {
    cursor: pointer;
    font-weight: 700;
}

.remind-selected {
    font-size: large;
    font-weight: 700;
}

.remind-disabled {
    font-weight: 400;
    color: grey;
    width: fit-content;
    margin: 0px 20px 5px 0px;
}


.date-skeleton {
    width: 271px;
    height: 56px;
}

.event-choices-buttons-wrapper {
    display: flex;
}

.event-choices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.event-choice {
    padding: 0px 0px 0px 4px;
}

.Mui-selected, .event-choice button {
    padding: 6px 9px;
    background-color: rgba(0,0,0,0.0);
    color: rgba(0,0,0,0.2);
}



 .event-ended div, .event-ended label, .event-ended button, .event-ended fieldset {
    color: #786685;
    border-color: #908399;
}


.event-meta button  {
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px;
    min-width: fit-content;
    background: rgba(0,0,0,0.07);
  }