.tsocial-text strong{
    display: none;
}
.tsocial-text a:nth-child(1) {
    display: none;
}
.tsocial-text small {
    display: none;
}

.tsocial-text img {
    height: fit-content!important;
}

.tsocial-text hr {
    display: none;
}
.tsocial-text div {
    display: none;
}

.tsocial-text {
    font-size: 1.3em;
    display: flex;
    overflow-wrap: anywhere;
    flex-direction: column;
    align-items: flex-start;
}

section.main-container-content h1 {
    background: white;
    border-radius: 28px 4px 0px 0px;
    padding-top: 25px;
    padding-bottom: 15px;
    border-bottom: solid 1px #9f9f9f;
    margin: 0;
}

.tsocial-mirror-entry {
display: inherit;
cursor: copy;
background: #ffffffeb;
margin-bottom: 13px;
box-shadow: 0 4px 8px rgb(118 118 120 / 10%);

padding: 20px;
}