div#main-container-footer {

}

div#main-container-footer > div {
  white-space: nowrap;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

footer {
  margin-top: 50%;
}

footer a {
  font-weight: 600;
}
footer .footer-link-container a:hover:after {
  width: 100%;
  max-width: 100%;
}

footer .footer-link-container a:after {

  bottom: -2px;
  height: 4px;
  width: 0%;
  content: "";
  display: block;
  background: blue;
  transition: ease all 0.3s;

}

.footer-link-container {
  width: fit-content;
}

.footer-contact-button {
  background: #afa2c3;
  height: fit-content;
  border-radius: 50px;
  margin: 20px auto 50px auto;
}
.footer-contact-button a {
  color: #37205a;
  font-weight: 600;
}

.footer-contact-button ul {
  padding: 0px 12px;
  margin: 1px;
}

#footer-copyright {
  position: absolute;
  width: -webkit-fill-available;
  width: -moz-available;
  left: 0;
  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  justify-content: center;
}

.footer-links ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

div#footer-menu nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 100px;
}

#footer-menu nav div {
  margin-top: 12px;
  padding: 0px 10px;
  /* border: solid 1px #8e008b; */
  border-radius: 30px;
}
#footer-menu nav div:hover {
  background: #43286c;
  border-color: #b864b6;
  transition: ease-out 0.15s;
  cursor: pointer;
}

#footer-menu nav a:hover {
color: white;

}
#footer-menu nav a:hover div {
transition: ease-in-out 0.1s;
color: white;
}
