.div-purple-slim {
    background: #ede0ff;
    padding: 5px 10px 8px 5px;
    border-radius: 30px;
    color: #221d2c;
    font-weight: 600;
}

.div-purple-slim:hover {
    font-weight: 700;
    cursor: pointer;
    background: #ebdcff;
}

.class-button-link {
    background: #afa2c3;
    color: #37205a;
    transition: ease-out 0.15s;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 15px;
}